/* css for formula 1 heading */
h1 {
	text-align: center;
	font-size: 80px;
	color: red;
	padding: 10px;
	padding-top: 70px;
	font-family: 'Audiowide', cursive;
	color: rgba(85, 195, 195, 0.3);
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(52, 112, 171);
}
/* heading for second gameboard(motogp) */
#h1 {
	color: #943A00;
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
	margin-left: 350px;
}
/* formula one jumbotron */
#jumbo {
	background: url("http://wallpoper.com/images/00/45/00/24/formula-1-car_00450024.jpg");
	background-size: 1040px 429px;
	background: cover;
	height: 400px;
	width: 1040px;
	margin: 0 auto;
}
/* css properties for question divs. works for both motoGP and formula one */
.active {
	display: block;
	border: 1px solid black;
	text-align: left;
	margin-top: -px;
	padding: 20px;
	font-size: 20px;
	background-color: rgba(12, 8, 8, 0.1);
	width: 1000px;
	margin: 0 auto;
}
p {
	text-align: center;
	font-size: 25px;
}
.question {
	font-family: 'Stalinist One', cursive;
	color: rgb(52, 112, 171);
}
.answer-text {
	font-family: 'Audiowide';
	color: rgba(130, 42, 42, 0.9);
}
#q1a, #q1b, #q1c, #q1d {
	width: 56px;
    border: 1px solid black;
    border-radius: 5px;
		margin-right: 10px;
		background-color: rgb(211, 163, 114);
}
.hidden {
	display: none;
}
.startGameBtn {
	text-align: center;
	padding: 20px;
	background-color: white;
	width: 220px;
	height: 60px;
	border-radius: 10px;
}

#jumbo2 {
	background: url("http://wallpapersonthe.net/wallpapers/b/1920x1080/1920x1080-motogp_motogp_sports-799.jpg");
	background-size: 1040px 600px;
	background: cover;
	height: 600px;
	width: 1040px;
	margin: 0 auto;
	margin-top: -30px;
}
.containerBtn {
	text-align: center;
}
.wrong {
	background-color: red;
}
.right {
	background-color: green;
}
